@charset "UTF-8";
:root {
  --hader-text-logo:#000000;
  --text-accent: #FFFFFF;
  --accent-color:#2196F3;
  --text-font:#212121;
  --background-color: #2F303A;
  --color-contact: #757575;
  --color-header:#EEEEEE;
  --botom-bg:#F5F4FA;
  --header-botom-color:#188CE8;
  --rgba:rgba(255, 255, 255, 0.6);
  --border-portfolio:rgba(238, 238, 238, 1);
  --border-studio:#ECECEC;
  --border-client-section:#AFB1B8;
  --main-hero-color:#C4C4C4;
  --social-list-color:#AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hader-text-logo);
}

.logo__accent {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: var(--text-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background: var(--text-accent);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-field-key {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-contact);
  margin-bottom: 4px;
}

.contact-form-field {
  margin-bottom: 10px;
}

.contact-form-field-textarea {
  margin-bottom: 20px;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.contact-form-message::placeholder {
  text-transform: capitalize;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid var(--text-font);
  margin-right: 7px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}

.contact-form-checkbox-label {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 30px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-color: var(--accent-color);
  border-radius: 2px;
  background-image: url("../images/check-modal.svg");
  border: var(--accent-color);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-contract {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.contact-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--text-accent);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-button:hover, .contact-form-button:focus {
  background: var(--header-botom-color);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .contact-form-checkbox-label::before {
    width: 18px;
    height: 18px;
  }
  .contact-form-checkbox-label {
    font-size: 14px;
  }
  .text-contract {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text-accent);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
    z-index: 1;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 100%;
  }
  .mobile-menu__close-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: var(--accent-color);
  }
  .mobil-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-font);
    margin-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobil-nav__link_current {
    color: var(--accent-color);
  }
  .mobil-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contact__item {
    display: flex;
  }
  .mobile-contact__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 32px;
  }
  .mobile-contact__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--color-contact);
  }
  .mobile-social {
    display: flex;
  }
  .mobile-social__item {
    padding-top: 64px;
  }
  .mobile-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-social__item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-social__after::after {
    content: "";
    flex-direction: column;
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    margin-left: auto;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-open-btn:hover, .mobile-menu-open-btn:focus {
    fill: var(--accent-color);
  }
  .nav-menu__link {
    display: none;
  }
  .сontact-info__link {
    display: none;
  }
  .сontact-info {
    display: block;
  }
  .header {
    border-bottom: 1px solid var(--border-studio);
  }
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .logo {
    margin-right: 88px;
  }
  .nav-menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-font);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
    text-decoration: none;
    padding: 32px 0;
  }
  .nav-menu__link:hover, .nav-menu__link:focus {
    color: var(--accent-color);
  }
  .header {
    border-bottom: 1px solid var(--border-studio);
  }
  .nav-header {
    display: flex;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-menu__link.nav-menu__link_current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu__link.current {
    color: var(--accent-color);
  }
  .сontact-info__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-contact);
    transition: color var(--accent-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .сontact-info__link:hover, .сontact-info__link:focus {
    color: var(--accent-color);
  }
  .сontact-info__mail {
    width: 14px;
    height: 10px;
  }
  .сontact-info__phone {
    width: 10px;
    height: 14px;
  }
  .сontact-info__icon {
    margin-right: 8px;
    fill: var(--color-contact);
  }
  .сontact-info__icon:hover .сontact-info__icon:focus {
    fill: var(--accent-color);
  }
  .сontact-info__link:hover .сontact-info__icon, .сontact-info__link:focus .сontact-info__icon {
    fill: var(--accent-color);
  }
  .сontact-info {
    margin-left: auto;
  }
}
@media screen and (max-width: 1199px) {
  .сontact-info__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .сontact-info {
    display: flex;
  }
  .сontact-info__item:not(:last-child) {
    margin-right: 50px;
  }
}
.hero {
  background: var(--background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-hero/header-mobile-img.jpg");
  background-size: cover;
  background-color: var(--main-hero-color);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-hero/header-mobile-img@2x.jpg");
  }
}
.hero__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-accent);
  margin-right: auto;
  margin-left: auto;
  width: 360px;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-accent);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
}
.hero__btn:hover, .hero__btn:focus {
  background: var(--header-botom-color);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-hero/header-tablet-img.jpg");
  }
  .hero__title {
    font-size: 26px;
    line-height: 1.36;
    width: 360px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-hero/header-tablet-img@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-hero/header-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-hero/header-desktop-img@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    width: 696px;
  }
}
.skills__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-font);
}

.skills__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  margin-top: 10px;
}
.skills__description:not(:last-child) {
  margin-bottom: 30px;
}

.box {
  background-color: var(--botom-bg);
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
}

.skills__icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .skills {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .skills__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .skills__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .skills__item:not(:nth-child(2n)) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .item-section {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .box {
    width: 270px;
    height: 120px;
  }
  .skills__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .skills__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .section_no-padding-top {
    padding-top: 0;
  }
  .works {
    display: flex;
    flex-wrap: wrap;
  }
  .works__picture:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .works__picture {
    flex-basis: calc((100% - 60px) / 3);
  }
  .works__box {
    position: relative;
  }
  .works__description {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-accent);
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    overflow: auto;
  }
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-font);
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1190px) {
  .section-hidden {
    display: none;
  }
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-font);
  margin-bottom: 30px;
}

.team-section__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-font);
}

.team-section__description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  margin-top: 10px;
  margin-bottom: 16px;
}

.section_other-background {
  background: var(--botom-bg);
}

.team-section__item {
  background: var(--text-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--text-accent);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--text-accent);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--social-list-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--text-accent);
}

@media screen and (max-width: 767px) {
  .team-section__box {
    padding-bottom: 24px;
  }
  .team-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-section {
    flex-wrap: wrap;
    display: flex;
  }
  .team-section__item {
    flex-basis: calc((100% - 30px) / 2);
    height: 536px;
  }
  .team-section__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .team-section__item:not(:nth-child(n+2)) {
    margin-bottom: 30px;
  }
  .team-section__box {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section {
    display: flex;
  }
  .team-section__item {
    flex-basis: calc((100% - 90px) / 4);
    height: 428px;
  }
  .team-section__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .team-section__box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.section__title {
  font-size: 28px;
  line-height: 1.14;
}

.clients-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-client-section);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--border-client-section);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover .clients-icon, .clients-list-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-list-example {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list-item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list-example {
    display: flex;
    flex-wrap: nowrap;
  }
  .clients-list-item {
    width: 170px;
    height: 92px;
  }
}
.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.footer-logo_theme_dark {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-accent);
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-web-blue {
  color: var(--accent-color);
}

.footer-item-contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-item-contact:hover, .footer-item-contact:focus {
  color: var(--accent-color);
}

.address-list__address-footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-accent);
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-phone-number {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.address-list__footer-contact:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .footer-adress {
    margin-bottom: 60px;
  }
  .footer-media {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex-container {
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .subscribe-footer__box {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo_theme_dark {
    justify-content: flex-start;
  }
  .footer-item-contact {
    justify-content: flex-start;
  }
  .flex-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .subscribe-section__subscribe-form-button {
    margin-left: 10px;
  }
}
.footer-media__join-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-media__join-media-footer {
  display: flex;
  justify-content: center;
}

.footer-media__media-footer-link {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media__media-footer-link:hover, .footer-media__media-footer-link:focus {
  background-color: var(--accent-color);
}

.footer-media__media-footer-list:not(:last-child) {
  margin-right: 10px;
}

.footer-media__icon-media-footer {
  width: 20px;
  height: 20px;
  fill: var(--text-accent);
}

@media screen and (max-width: 1199px) {
  .subscribe-section__subscribe-form-input {
    margin-bottom: 20px;
  }
  .subscribe-section__subscribe-form-button {
    margin-left: auto;
    margin-right: auto;
  }
}
.subscribe-section__subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-accent);
}

.subscribe-section__subscribe-form-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-accent);
}

.subscribe-section__subscribe-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--text-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
}
.subscribe-section__subscribe-form-button:hover, .subscribe-section__subscribe-form-button:focus {
  background-color: var(--header-botom-color);
}

.subscribe-section__subscribe-telegram-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
  }
  .subscribe-section__subscribe-form-input {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe-section__subscribe-text {
    text-align: center;
  }
  .subscribe-section__subscribe-form-button {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-section__subscribe-form-input {
    width: 358px;
  }
  .subscribe-section__subscribe-form-button {
    display: inline-flex;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--text-font);
  background: var(--botom-bg);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--text-accent);
}

.portfolio-buttons-nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 15px 8px;
}

@media screen and (min-width: 768px) {
  .portfolio-buttons-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .text-projekt-item {
    flex-grow: 1;
  }
}
.list-projects {
  display: flex;
  flex-wrap: wrap;
}

.project-item:not(:last-child) {
  margin-bottom: 30px;
}

.text-projekt-item {
  border: 1px solid var(--border-portfolio);
  border-top: none;
  padding: 20px 24px;
}

.img-project {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-font);
  margin-bottom: 4px;
}

.project-item-product {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

.project-item-hover {
  position: relative;
  overflow: hidden;
}

.text-hidden {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--text-accent);
  padding: 63px 24px;
  overflow: hidden;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item-link:hover .text-hidden, .project-item-link:focus .text-hidden {
  transform: translateY(0%);
}

.project-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item-link:hover, .project-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .list-projects {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-item-link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .project-card__bottom {
    flex-grow: 1;
  }
  .project-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .project-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .project-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .project-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .project-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=main.css.map */