:root {
    --hader-text-logo:#000000;  
    --text-accent: #FFFFFF;
    --accent-color:#2196F3; 
    --text-font:#212121;
    --background-color: #2F303A;
    --color-contact: #757575;
    --color-header:#EEEEEE;
    --botom-bg:#F5F4FA;
    --header-botom-color:#188CE8;
    --rgba:rgba(255, 255, 255, 0.6);
    --border-portfolio:rgba(238, 238, 238, 1);
    --border-studio:#ECECEC;
    --border-client-section:#AFB1B8;
    --main-hero-color:#C4C4C4;
    --social-list-color:#AFB1B8;
    }